@layer layout {
  aside {
    min-width: 300px;

    & .avatar {
      animation: avatarAni 2s ease-in-out 5s 1 normal none;
    }
  }

  .profile-img {
    anchor-name: --profile-img;

    & .download-resume {
      position: absolute;
      position-anchor: --profile-img;
      right: calc(anchor(right) + 50px);
      bottom: anchor(bottom);
    }
  }

  .profile-bio {
    margin-bottom: var(--space-md);
  }

  @container (max-width: 768px) {
    aside {
      margin-bottom: var(--space-2xl);
    }
  }
}
