@layer layout {
  .loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    backdrop-filter: blur(50px);
    z-index: 10;
    opacity: 1;
    animation: loadingAni 3s ease-in-out 1 forwards;

    & h1 {
      font-size: var(--text-giant);
    }
  }
}
