@layer ui {
  .download-resume {
    color: var(--color-text-dark);
    background-color: var(--color-accent-strong);
    border-radius: var(--radius-xl);
    padding: var(--pad-2xs) var(--pad-xs);
    font-weight: var(--weight-bold);
    font-size: var(--text-sm);

    &:hover {
      text-decoration: underline;
    }
  }
}
