@layer pages {
  .contact-form {
    padding: var(--pad-xl) 0;
    margin-bottom: 0;

    & label {
      font-size: var(--text-lg);
    }

    & .btn {
      padding: var(--pad-sm);
    }
  }

  .contact-item {
    & input,
    textarea {
      width: 100%;
    }
  }

  .contact-success-message {
    font-size: var(--text-xl);
  }
}
