/* Avatar */

.profile-img figure {
  width: clamp(100px, 20vw, 300px);
  height: clamp(100px, 20vw, 300px);
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid var(--color-border);
}

.profile-bio,
.profile-item {
  font-weight: var(--weight-semibold);
  font-size: var(--text-base);
}
