header {
  background-color: var(--color-bg-elevated);
  border-bottom: 1px solid var(--color-border);
}

.avatar-small {
  width: 35px;
  height: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-border);
}

.nav-top {
  padding: var(--pad-md) var(--pad-md) var(--pad-xs);
}

.nav-bottom {
  padding: 0 var(--pad-md) var(--pad-xs);
}

.username {
  font-weight: 700;
  font-size: var(--text-base);
}

/* Hidden Menu */

#menu {
  background-color: var(--color-bg);
  box-shadow: var(--shadow-soft);
  position: fixed;
  height: 100dvh;
  width: 300px;
  padding: var(--pad-xl);
  left: 0;
  transition: left 0.6s ease-in-out;
}

#menu.hidden {
  left: -300px;
  transition: left 0.6s ease-in-out;
}

.hidden-menu-top {
  padding: var(--pad-md) 0;

  & button {
    font-size: var(--text-sm);
    border: none;
  }
}

.hidden-menu-links {
  padding: var(--pad-md) 0;
}
