.main {
  padding: var(--pad-2xl) 0;
}

.page-grid {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: var(--gap-xl);
  align-items: flex-start;
}

@media (max-width: 800px) {
  .page-grid {
    grid-template-columns: 1fr;
    gap: var(--gap-xl);
  }
}
