.main-content {
  padding: var(--pad-xl);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xl);
}

.markdown-body {
  margin-bottom: var(--space-2xl);

  & p {
    display: flex;
    flex-wrap: wrap;
  }
}

.repo-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card-title {
  color: var(--color-accent);

  & h3 {
    font-size: var(--text-base);
    font-weight: var(--weight-bold);
  }
}

.card-title:hover {
  color: var(--color-accent-strong);
}

.card-visibility {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xl);
  padding: var(--pad-xs) var(--pad-sm);
}

.card-language-decorator {
  background-color: var(--color-danger);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
