@layer animations {
  @keyframes avatarAni {
    0% {
      transform: scale3d(1, 1, 1);
    }

    30% {
      transform: scale3d(1.1, 0.9, 1);
    }

    40% {
      transform: scale3d(0.92, 1.08, 1);
    }

    50% {
      transform: scale3d(1.04, 0.97, 1);
    }

    65% {
      transform: scale3d(0.98, 1.02, 1);
    }

    75% {
      transform: scale3d(1.01, 0.99, 1);
    }

    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}
