@layer components {
  /* Aside - Profile */
  aside {
    min-width: 300px;

    & .avatar {
      animation: avatarAni 2s ease-in-out 5s 1 normal none;
    }
  }

  .profile-bio,
  .profile-item {
    font-weight: var(--weight-semibold);
  }

  /* Overview Sections */

  .overview-section {
    & p {
      display: flex;
      flex-wrap: wrap;
      font-size: var(--text-lg);
    }
  }

  .project-section {
    & ul {
      gap: var(--gap-md);
      grid-template-columns: 1fr 1fr;
    }
  }

  .contact-section {
    & h2 {
      font-size: var(--text-giant);
    }
    & .section-title {
      text-align: center;
    }

    & .text {
      justify-content: center;
      flex-wrap: wrap-reverse;
    }
  }

  /* About Sections */

  .about-bio,
  .about-personality {
    gap: var(--gap-md);

    & .section-title {
      flex: 1 1 60%;
      min-width: 280px;
    }
  }

  .about-bio {
    flex-wrap: wrap-reverse;
  }

  .about-bio-img,
  .about-personality-img {
    max-height: 300px;
    flex: 0 0 300px;
    overflow: hidden;
    border-radius: var(--radius-xl);
    margin: 0 auto;
  }

  .about-personality {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .project-section {
    & ul {
      grid-template-columns: 1fr;
    }
  }
}
