@layer components {
  /* Aside - Profile */
  aside {
    min-width: 300px;

    & .avatar {
      animation: avatarAni 2s ease-in-out 5s 1 normal none;
    }
  }

  .profile-bio,
  .profile-item {
    font-weight: var(--weight-semibold);
  }

  .profile-img {
    position: relative;

    & .download-resume {
      position: absolute;
      right: 50px;
      bottom: 10px;
    }
  }

  /* Overview Sections */

  .overview-section {
    & h1,
    h2 {
      border-bottom: 1px solid var(--color-border);
    }

    & p {
      display: flex;
      flex-wrap: wrap;
    }

    & ul {
      list-style-type: disc;
      padding-left: var(--pad-xl);
    }
  }

  .project-section {
    & ul {
      gap: var(--gap-md);
      grid-template-columns: 1fr 1fr;
    }
  }

  .contact-section {
    & h2 {
      font-size: var(--text-giant);
    }
    & .section-title {
      text-align: center;
    }

    & .text {
      justify-content: center;
      flex-wrap: wrap-reverse;
    }
  }

  /* About Sections */

  .about-title {
    margin-bottom: var(--space-2xl);
  }

  .about-bio {
    gap: var(--gap-md);
  }

  .about-bio-banner {
    flex: 1 1 60%;
    min-width: 280px;
    justify-content: center;
    align-items: flex-start;

    & p {
      font-size: var(--text-lg);
    }

    & .download-resume {
      font-size: var(--text-lg);
      padding: var(--pad-xs) var(--pad-md);
    }
  }

  .about-bio-img {
    max-height: 300px;
    flex: 0 0 300px;
    overflow: hidden;
    border-radius: var(--radius-sm);
    margin: 0 auto;
  }

  .accordion-flex {
    flex-wrap: wrap;
  }

  /* Projects */

  .project-item {
    padding-top: var(--pad-sm);
    padding-bottom: var(--pad-xl);
    border-bottom: 1px solid var(--color-border);
    & h2 {
      font-size: var(--text-xl);
    }
  }

  .project-visibility {
    border: 1px solid var(--color-border);
    padding: var(--pad-2xs) var(--pad-xs);
    border-radius: var(--radius-xl);
    font-size: var(--text-xs);
  }

  .topic {
    padding: var(--pad-xs);
    border-radius: var(--radius-xl);
    background-color: var(--color-bg-accent);
    font-size: var(--text-xs);
    font-weight: var(--weight-bold);
  }

  .topic-item:hover {
    animation: blinkingAni 2s ease 0s 1 normal none;
  }

  .language-decorator {
    background-color: var(--color-decorator);
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  /* Project Details */

  #details {
    position: absolute;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 70%;
    color: var(--color-text);
    border-radius: var(--radius-sm);
    background-color: var(--color-bg-dark);
  }

  /* Contact */

  .contact-form {
    padding: var(--pad-2xl) 0;
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    & label {
      font-size: var(--text-lg);
    }
  }

  .contact-item {
    & input,
    textarea {
      width: 100%;
    }
  }

  .contact-success-message {
    font-size: var(--text-xl);
    width: 20ch;
  }

  /* Details */

  .details-header {
    margin-bottom: var(--space-2xl);
    padding-bottom: var(--pad-md);
    border-bottom: 2px solid var(--color-border);
  }

  .details-tags {
    font-weight: var(--weight-semibold);
  }

  .details-status {
    padding: var(--pad-xs) var(--pad-md);
    background-color: var(--color-bg-accent);
    border-radius: var(--radius-md);
  }

  .details-section-title {
    background-color: var(--color-bg-dark);
    padding: var(--pad-md);
    border-radius: var(--radius-md);
  }

  .details-section-text,
  .details-features {
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
    padding: var(--pad-md);
    border-radius: var(--radius-sm);
  }

  .details-grid {
    grid-template-columns: 2fr 1fr;
  }

  .details-list {
    list-style-type: disc;
    padding-left: var(--pad-md);
  }

  .details-link,
  .details-stack-item {
    padding: var(--pad-xs) var(--pad-md);
    background-color: var(--color-bg-accent);
    color: var(--color-text);
    border-radius: var(--radius-sm);
    transition: background-color 0.3s ease-in-out;
  }

  .details-link:hover {
    background-color: var(--color-bg-dark);
  }

  .carousel {
    scroll-marker-group: after;

    &::scroll-button(left) {
      content: "⬅" / "Scroll Left";
    }

    &::scroll-button(right) {
      content: "⮕" / "Scroll Right";
    }

    &::scroll-button(*):focus-visible {
      outline-offset: 5px;
    }
    > li::scroll-marker {
      content: " ";
    }

    > li::scroll-marker:target-current {
      background: var(--accent);
    }
  }

  @media (max-width: 768px) {
    aside {
      margin-bottom: var(--space-2xl);
    }
    .project-section {
      & ul {
        grid-template-columns: 1fr;
      }
    }

    .details-grid {
      grid-template-columns: 1fr;
    }
  }
}
