/* Variables */
@import "./variables.css" layer(variables);

/* Reset */
@import "./reset.css" layer(reset);

/* Base */
@import "./base.css" layer(base);

/* Layout */
@import "./layout/layout.css" layer(layout);
@import "./layout/header.css" layer(layout);
@import "./layout/footer.css" layer(layout);
@import "./layout/aside.css" layer(layout);
@import "./layout/contactSection.css" layer(layout);
@import "./layout/loading.css" layer(layout);
@import "./layout/avatar.css" layer(layout);

/* UI */
@import "./ui/burger.css" layer(ui);
@import "./ui/errormessage.css" layer(ui);
@import "./ui/resume.css" layer(ui);
@import "./ui/detailsBtn.css" layer(ui);

/* Overview */
@import "./pages/overview/overview.css" layer(pages);
@import "./pages/overview/projectSection.css" layer(pages);
@import "./pages/overview/card.css" layer(pages);

/* About */
@import "./pages/about/about.css" layer(pages);
@import "./pages/about/accordion.css" layer(pages);

/* Contact */
@import "./pages/contact/contact.css" layer(pages);

/* Projects */
@import "./pages/projects/projects.css" layer(pages);
@import "./pages/projects/topic.css" layer(pages);

/* Details */
@import "./pages/details/carousel.css" layer(pages);
@import "./pages/details/details.css" layer(pages);

/* Animations */
@import "./animations.css" layer(animations);
