/* Variables */
@import "./variables.css" layer(variables);

/* Reset */
@import "./reset.css" layer(reset);

/* Base */
@import "./base.css" layer(base);

/* Layout */
@import "./layout.css" layer(layout);

/* UI */
@import "./ui.css" layer(ui);

/* Sections */
@import "./components.css" layer(components);

/* Pages */
@import "./pages.css" layer(pages);

/* Animations */
@import "./animations.css" layer(animations);
