@layer pages {
  .carousel {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;

    > li {
      flex: 0 0 100%;
      scroll-snap-align: center;
      height: 300px;
      overflow: hidden;
      border: 10px solid var(--color-border-dark);
      cursor: auto;
    }
  }
  .carousel::-webkit-scrollbar {
    height: 20px;
    background-color: var(--color-bg-dark);
    border-radius: var(--radius-md);
  }

  .carousel::-webkit-scrollbar-button:horizontal:start,
  .carousel::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-light);
    border: 2px solid var(--color-bg-dark);
    border-radius: var(--radius-md);
    transition: 0.3s ease-in-out;
  }

  .carousel::-webkit-scrollbar-button:horizontal:start {
    width: 30px;
  }

  .carousel::-webkit-scrollbar-button:horizontal:start:hover,
  .carousel::-webkit-scrollbar-thumb:hover,
  .carousel::-webkit-scrollbar-button:horizontal:start:hover {
    background-color: var(--color-bg-accent);
  }
}
