@layer pages {
  .carousel {
    cursor: pointer;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    cursor: e-resize;

    & > li {
      flex: 0 0 100%;
      scroll-snap-align: center;
      height: 300px;
      overflow: hidden;
      border: 10px solid var(--color-border-dark);
      cursor: e-resize;
    }
  }
  .carousel::-webkit-scrollbar {
    height: 20px;
    background-color: var(--color-bg-light);
  }

  .carousel::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-dark);
    border: 4px solid var(--color-bg-light);
    border-radius: var(--radius-md);
    transition: 0.3s ease-in-out;
  }

  .carousel::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-bg-accent);
  }
}
