.overview-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: var(--gap-xl);
  align-items: flex-start;
}

@media (max-width: 800px) {
  .overview-main {
    grid-template-columns: 1fr;
    gap: var(--gap-md);
  }
}
