@layer pages {
  .card {
    align-items: flex-start;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    border-radius: var(--radius-lg);
    padding: var(--pad-md);
  }

  .card-link {
    transition: color 0.3s ease-in-out;
  }

  .card-link:hover {
    color: var(--color-accent-strong);
  }
}
