@layer pages {
  .overview-section {
    & h1,
    h2 {
      border-bottom: 1px solid var(--color-border);
      margin-top: var(--space-xl);
      font-size: var(--h2-size);
    }

    & p {
      display: flex;
      flex-wrap: wrap;
    }

    & ul {
      list-style-type: disc;
      padding-left: var(--pad-xl);
    }

    & a {
      color: var(--color-accent);
    }
  }
}
