@layer pages {
  .about-bio-banner {
    flex: 1 1 60%;
    min-width: 280px;
    justify-content: center;
    align-items: flex-start;

    & p {
      font-size: var(--text-lg);
      margin-bottom: var(--space-sm);
      max-width: 50ch;
    }
  }

  .about-bio-img {
    max-height: 200px;
    flex: 0 0 200px;
    overflow: hidden;
    border-radius: var(--radius-sm);
    margin: 0 auto;
  }
}
