@layer pages {
  .accordion {
    margin-bottom: 0;
  }

  .accordion-item {
    padding: var(--pad-md);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    margin-bottom: var(--gap-sm);
    background: var(--color-bg-dark);
    overflow: hidden;

    & summary {
      font-weight: var(--weight-semibold);
    }

    &:hover,
    &:focus-within {
      border-color: var(--color-hover-light);
    }

    &[open] p {
      padding-top: var(--pad-md);
    }
  }
}
