@layer animations {
  @keyframes avatarAni {
    0% {
      transform: scale3d(1, 1, 1);
    }

    30% {
      transform: scale3d(1.1, 0.9, 1);
    }

    40% {
      transform: scale3d(0.92, 1.08, 1);
    }

    50% {
      transform: scale3d(1.04, 0.97, 1);
    }

    65% {
      transform: scale3d(0.98, 1.02, 1);
    }

    75% {
      transform: scale3d(1.01, 0.99, 1);
    }

    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes expandAni {
    from {
      opacity: 0;
      height: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      height: auto;
      transform: translateY(0);
    }
  }

  @keyframes blinkingAni {
    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  @keyframes menuAni {
    0% {
      opacity: 0;
      transform: translateX(-48px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes loadingAni {
    0% {
      opacity: 1;
      backdrop-filter: blur(50px);
    }
    100% {
      opacity: 0;
      backdrop-filter: blur(1px);
    }
  }
}
