@layer components {
  /* Aside - Profile */
  aside {
    min-width: 300px;

    & .avatar {
      animation: avatarAni 2s ease-in-out 5s 1 normal none;
    }
  }

  .profile-bio,
  .profile-item {
    font-weight: var(--weight-semibold);
  }

  /* Overview Sections */

  .overview-section {
    & h1,
    h2 {
      border-bottom: 1px solid var(--color-border);
    }

    & p {
      display: flex;
      flex-wrap: wrap;
    }

    & ul {
      list-style-type: disc;
      padding-left: var(--pad-xl);
    }
  }

  .project-section {
    & ul {
      gap: var(--gap-md);
      grid-template-columns: 1fr 1fr;
    }
  }

  .contact-section {
    & h2 {
      font-size: var(--text-giant);
    }
    & .section-title {
      text-align: center;
    }

    & .text {
      justify-content: center;
      flex-wrap: wrap-reverse;
    }
  }

  /* About Sections */

  .about-title {
    margin-bottom: var(--space-2xl);
  }

  .about-bio {
    gap: var(--gap-md);
  }

  .about-bio-banner {
    flex: 1 1 60%;
    min-width: 280px;
  }

  .about-bio-img {
    max-height: 300px;
    flex: 0 0 300px;
    overflow: hidden;
    border-radius: var(--radius-sm);
    margin: 0 auto;
  }

  .accordion-flex {
    flex-wrap: wrap;
  }

  /* Projects */

  .project-item {
    padding-top: var(--pad-sm);
    padding-bottom: var(--pad-xl);
    border-bottom: 1px solid var(--color-border);
    & h2 {
      font-size: var(--text-xl);
    }
  }

  .project-visibility {
    border: 1px solid var(--color-border);
    padding: var(--pad-2xs) var(--pad-xs);
    border-radius: var(--radius-xl);
    font-size: var(--text-xs);
  }

  .topic {
    padding: var(--pad-xs);
    border-radius: var(--radius-xl);
    background-color: var(--color-bg-accent);
    font-size: var(--text-xs);
    font-weight: var(--weight-bold);
  }

  .topic-item:hover {
    animation: blinkingAni 2s ease 0s 1 normal none;
  }

  /* Contact */

  .contact-form {
    padding: var(--pad-2xl) 0;
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    & label {
      font-size: var(--text-lg);
    }
  }

  .contact-item {
    & input,
    textarea {
      width: 100%;
    }
  }

  .contact-success-message {
    font-size: var(--text-xl);
    width: 20ch;
  }

  @media (max-width: 768px) {
    .project-section {
      & ul {
        grid-template-columns: 1fr;
      }
    }
  }
}
