@layer ui {
  .navlink {
    border-radius: var(--radius-md);
    font-weight: var(--weight-semibold);
    font-size: var(--text-sm);
    padding: var(--pad-xs) var(--pad-md);
  }

  .navlink:focus {
    border: 1px solid var(--color-accent-strong);
  }

  .burger {
    padding: var(--pad-xs);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .avatar {
    overflow: hidden;
    border: 1px solid var(--color-border);
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .github-profile-badge {
    font-weight: var(--weight-bold);
    font-size: var(--text-base);
  }

  .download-resume {
    background-color: var(--color-accent-strong);
    border-radius: var(--radius-xl);
    padding: var(--pad-2xs) var(--pad-xs);
    font-weight: var(--weight-bold);
    font-size: var(--text-sm);
  }

  .download-resume:hover {
    text-decoration: underline;
  }

  /* ACCORDION ITEM */

  .accordion-item {
    padding: var(--pad-md);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    margin-bottom: var(--gap-sm);
    background: var(--color-bg-dark);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;

    & summary {
      font-weight: var(--weight-semibold);
    }
  }

  .accordion-item:hover,
  .accordion-item:focus-within {
    border-color: var(--color-hover-light);
    transform: translateY(-1px);
  }

  .accordion-item[open] p {
    animation: expandAni 0.3s ease-in-out;
    padding-top: var(--pad-md);
  }

  /* LOADING */

  .loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    backdrop-filter: blur(50px);
    z-index: 10;
    opacity: 1;
    animation: loadingAni 3s ease-in-out 1 forwards;

    & h1 {
      font-size: var(--text-giant);
    }
  }

  /* CARD */

  .card {
    align-items: flex-start;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    border-radius: var(--radius-lg);
    padding: var(--pad-md);
    transition: 0.5s ease-in-out;
  }

  .card:hover {
    transform: scale(1.3);
    box-shadow: var(--shadow-soft);
  }

  .card-link:hover {
    color: var(--color-accent-strong);
  }

  /* PAGINATION */

  .pagination-nav {
    padding: var(--pad-md);
    border-bottom: 1px solid var(--color-border);
  }

  /* See Detail Button */

  .details-btn {
    border: none;
    padding: 0;
    transition: color 0.3s ease-in-out;
  }

  .details-btn:hover {
    color: var(--color-accent-strong);
  }
  /* .see-details {} */
}
